{namespace n=Tx_News_ViewHelpers}<!--
	=====================
		Partials/List/Item.html
-->
<div class="article articletype-{newsItem.type}{f:if(condition: newsItem.istopnews, then: ' topnews')}">
	<n:excludeDisplayedNews newsItem="{newsItem}" />
	<!-- header -->
	<div class="header">
		<h3>
			<n:link newsItem="{newsItem}" settings="{settings}">
				{newsItem.title}
			</n:link>
		</h3>
	</div>

	<f:if condition="{newsItem.media}">
		<!-- media preview element -->
		<f:then>
			<div class="news-img-wrap">
				<f:if condition="{newsItem.mediaPreviews}">
					<f:then>
						<n:link newsItem="{newsItem}" settings="{settings}">
							<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
								<f:if condition="{mediaElement.type} == 0">
									<f:image src="uploads/tx_news/{mediaElement.image}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
								</f:if>
								<f:if condition="{mediaElement.type} == 1">
									<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}" />
								</f:if>
								<f:if condition="{mediaElement.type} == 2">
									<f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}" />
								</f:if>
								<f:if condition="{mediaElement.type} == 3">
									<n:format.dam as="dam" uid="{mediaElement.uid}">
										<f:image src="{dam.file_path}{dam.file_name}" title="{dam.title}" alt="{dam.alt_text}" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
									</n:format.dam>
								</f:if>
							</f:alias>
						</n:link>
					</f:then>
					<f:else>
						<f:if condition="{settings.displayDummyIfNoMedia}">
							<span class="no-media-element">
								<n:link newsItem="{newsItem}" settings="{settings}">
									<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
								</n:link>
							</span>
						</f:if>
					</f:else>
				</f:if>

			</div>
		</f:then>
		<f:else>
			<f:if condition="{settings.displayDummyIfNoMedia}">
				<f:then>
					<div class="news-img-wrap">
						<n:link newsItem="{newsItem}" settings="{settings}">
							<span class="no-media-element">
								<f:image src="{settings.list.media.dummyImage}" title="" alt="" maxWidth="{settings.list.media.image.maxWidth}" maxHeight="{settings.list.media.image.maxHeight}" />
							</span>
						</n:link>
					</div>
				</f:then>
			</f:if>
		</f:else>
	</f:if>

	<!-- teas=ser text -->
	<div class="teaser-text">
		<f:if condition="{newsItem.teaser}">
			<f:then>
				<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.teaser}</f:format.crop></f:format.html>
			</f:then>
			<f:else>
				<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.bodytext}</f:format.crop></f:format.html>
			</f:else>
		</f:if>

		<n:link newsItem="{newsItem}" settings="{settings}" class="more">
			<f:translate key="more-link" />
		</n:link>

		{namespace nt=Tx_News_ViewHelpers}
		<div class="toctoccomments">
			<nt:social.TocTocCommentsCount newsItem="{newsItem}"></nt:social.TocTocCommentsCount>
		</div>
		
	</div>

	<!-- footer information -->
	<div class="footer">
		<p>
			<!-- date -->
			<span class="news-list-date">
				<n:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</n:format.date>
			</span>

			<f:if condition="{newsItem.firstCategory}">
				<!-- first category -->
				<span class="news-list-category">{newsItem.firstCategory.title}</span>
			</f:if>

			<f:if condition="{newsItem.tags}">
				<!-- Tags -->
				<span class="news-list-tags">
				<f:for each="{newsItem.tags}" as="tag">
					{tag.title}
				</f:for>
				</span>
			</f:if>

			<!-- author -->
			<f:if condition="{newsItem.author}">
				<span class="news-list-author">
					<f:translate key="author" arguments="{0:newsItem.author}" />
				</span>
			</f:if>
		</p>
	</div>
</div>
