.tx-tc-ct-usercenter-pic {
	margin-right: @boxmodelSpacing;
	margin-left: 4px;
}
.tx-tc-ucliststitle {
	border-top-style: solid;
	border-top-width: 1px;
	margin: 0;
	padding: 4px 0;
 	float: left;
	width: 100%;
}
.tx-tc-dropdown {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	margin: 0px 0px 4px 0px;
	padding: 4px 0;
	display: table;
	border-color: @color-border-dialog;
}
.tx-tc-dropdowntitle, .tx-tc-ct-usercenter-text-contact-title {
	font-weight: 700;
	font-size: 110%;
	padding: 0 4px;
}
.tx-tc-ucliststitletext {
	margin: 0 4px;
}
.tx-tc-ct-usercenter-fullname-div, .tx-tc-opendropdown .tx-tc-trt-rating, .tx-tc-opendropdown .tx-tc-trt-listtitle, .tx-tc-opendropdown .tx-tc-trt-listdesc, .tx-tc-opendropdown .tx-tc-trt-rating-rating img + b {
	display: none;
}
.tx-tc-opendropdown .tx-tc-box-trt-cts {
	padding: 0px;
}
.tx-tc-showmore {
	font-weight: normal;
	font-size: 100%;
	padding: 0 4px;
}
.tx-tc-title-usercenter, .tx-tc-opendropdown, .tx-tc-title-topsharings {
	margin-bottom: @boxmodelSpacing;
	display: table;
    padding: @boxmodelSpacing;
    box-sizing: border-box;
    width: 100%;
}
.tx-tc-ucliststitle {
	border-top-color: @color-border-dialog;
}
